.welcome{
    text-align: center;
    margin-top: 2em;
    &__subtitle{
        text-transform: uppercase;
    }
    &__description{
        padding: 0 1em;
    }
}
.caja-welcome{
    margin: 2em 0;
}

